---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---
<Layout title='Inicio'>

  <header class="h-screen">
    <Navbar />    
    <main class="flex flex-col items-center justify-center h-full gap-6">
      <h1 class="text-transparent font-bold text-6xl bg-gradient-to-r from-blue-700 via-purple-500 to-cyan-500 bg-clip-text">Construye sitios web hermosos</h1>
      <h2 class="font -bold text-4xl">Céntrate en la lógica, nosotros en la UI</h2>
    </main>
  </header>
</Layout>
