---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<button class=`${className} font-semibold text-white rounded-lg px-4 py-2 active:scale-95 duration-150`>
    <slot />
</button>